body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.player{
    background:#222;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
}